*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
}
.app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}
.app h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border-style: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    border-radius: 30px;
    background: #ff5945;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
ul li{
    color: #fff;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
/* before Pseudo-element */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    color: #ff5945;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #fff;
}
@media (max-width: 768px) {
    .todo-list {
        background-size: contain;
    }
    .search-box{
        height: 50px;
    }
    button{
        height: 50px;
    }
}
